@use '../abstract/mixins';
@use '../abstract/variaveis';

#desconto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    h4 {
        @include mixins.ff-fs-cl(variaveis.$fonte-titulos, 1.6rem, variaveis.$roxo-escuro)
    }
    p {
        @include mixins.ff-fs-cl(variaveis.$fonte-textos, 1.2rem, variaveis.$roxo-escuro)
    }

    .input-btn {
        $largura-input: 790px;
        width: $largura-input;
        height: 65px;
        border: 1px solid variaveis.$roxo-vibrante;
        border-radius: 65px;
        margin: 0 auto;
        display: flex;

        input {
            width: calc($largura-input * 0.65);
            @include mixins.ff-fs-cl(variaveis.$fonte-textos, 1.2rem, variaveis.$roxo-escuro);
            border: none;
            outline: none;
            margin-left: 2rem;
        }
        button {
            width: calc($largura-input * 0.35);
            @include mixins.ff-fs-cl(variaveis.$fonte-textos, 1.2rem, white);
            border: none;
            font-weight: bold;
            background: variaveis.$roxo-vibrante;
            border-radius: 0 65px 65px 0;
            cursor: pointer;
        }
    }
}